@font-face {
  font-family: "iconfont"; /* Project id 3855892 */
  src: url("iconfont.woff2?t=1673183032158") format("woff2"),
    url("iconfont.woff?t=1673183032158") format("woff"),
    url("iconfont.ttf?t=1673183032158") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mima:before {
  content: "\e64e";
}

.icon-account:before {
  content: "\e61e";
}
